/*--------------------------------------------------------------
# Monserrat
--------------------------------------------------------------*/
/* Regular */
@font-face {
	font-family: "Monserrat";
	src: url("../fonts/Montserrat-Regular.otf");
}
/* Bold */
@font-face {
	font-family: "Monserrat";
	src: url("../fonts/Montserrat-Bold.otf");
	font-weight: bold;
}
/* Italic */
@font-face {
	font-family: "Monserrat";
	src: url("../fonts/Montserrat-Italic.otf");
	font-style: italic;
}